.course {
    background-color: #fdfdfd;
}

.title {
    font-size: 24px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    padding: 8px 25px;
}

.content {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.platform {
    font-size: 12px;
}

.description {
    margin: 0 0 25px;
}
