/**
 * Site header
 */
.site-header {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  margin-top: 0;
  margin-bottom: 0;
  color: $grey-color-dark;

  a {
    font-size: 2rem;
    color: inherit;
  }

  small {
    font-size: 1.5rem;
    font-weight: 400;
    opacity: .5;
  }


  .lang-nav {
      float: right;
      padding-top: .5rem;

      .interlanguage-link {
          font-size: 1rem;
          color: #2a7ae2;
          text-decoration: none;
      }
  }

}