---
import PageLayout from "../PageLayout.astro";

import { Image } from "astro:assets";
import portraitImage from "@assets/portrait.jpg";

import { getCurrentLanguage } from "@i18n/i18n";
import { translations } from "@i18n/translations";

const lang = getCurrentLanguage(Astro);
---

<PageLayout title="About">
  <h1>{translations[lang].aboutme}</h1>
  <Image class="portrait" src={portraitImage} alt="A portrait of Lesley Lai" width={200} />
  <article>
    <slot />
  </article>
  <h2>{translations[lang].elsewhere}</h2>
  <ul>
    <li><a href="https://github.com/LesleyLai">Github</a></li>
    <li><a href="https://mastodon.gamedev.place/@lesley">Mastodon</a></li>
    <li><a href="https://bluesky.social/@lesleylai">Bluesky</a></li>
    <li><a href="https://www.shadertoy.com/user/lesleylai">ShaderToy</a></li>
  </ul>
</PageLayout>

<style>
  .portrait {
    float: right;
    margin-left: 1rem;
    border-radius: 0.25rem;
    box-shadow:
      0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
</style>
