---
import PageLayout from "@layouts/PageLayout.astro";

import LatestPosts from "@components/LatestPosts.astro";
import { getCurrentLanguage } from "@i18n/i18n";
import { translations } from "@i18n/translations";

let lang = getCurrentLanguage(Astro);
---

<PageLayout title="">
  <slot />
  <h2>{translations[lang].latestPosts}</h2>
  <LatestPosts lang={lang} />
</PageLayout>
