---
import PageLayout from "../PageLayout.astro";

import { getCurrentLanguage } from "@i18n/i18n";
import { translations } from "@i18n/translations";

let lang = getCurrentLanguage(Astro);
---

<PageLayout title="Talks">
  <h1>{translations[lang].talks}</h1>
  <slot />
</PageLayout>
