.title {
    font: normal 36px/48px Georgia, serif;
    margin: 30px 0;
}

.info {
    font: 11px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0 0 4px 0;
    border-bottom: solid 1px #eee;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    justify-content: space-between;
}

.date {
    color: #797979;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .tags {
        right: 8px;
        margin-top: -5px;
    }
}

@media (max-width: 1199px) {
    .tags {
        margin-top: 10px;
    }
}

.article > h2 {
    font: 24px "PT Serif", Georgia, serif;
    padding: 24px 0 12px 0;
    font-weight: 700;
    margin: 0;
}

.article > h3 {
    font: italic 19px/24px "PT Serif", Georgia, serif;
    padding: 24px 0 12px 0;
    margin: 0;
}

.article > h4 {
    font: 11px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0 0 4px 0;
    margin-bottom: 16px;
}

.article > p {
    font: 16px/24px "PT Serif", Georgia, serif;
    padding: 8px 0;
    margin: 0;
}

.article > p + p {
    padding: 12px 0;
}

.article > .footnotes {
    background-color: red;
}

.comment {
    margin: 0 -1rem -48px -1rem;
    padding: 24px 48px;
    background: #f1ece4;
    color: #8f6d3d;
    font: normal 13px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
