<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ site.description[page.lang] }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">
            <i class="fa fa-home"></i> {{ site.home[page.lang] }}
        </a>

        <a class="sidebar-nav-item" href="/{{ site.about[page.lang] }}/">
            <i class="fa fa-user"></i> {{ site.about[page.lang] }}
        </a>

        <a class="sidebar-nav-item" href="l">
            <i class="fa fa-tags"></i> {{ site.tags_name[page.lang] }}
        </a>

        <a class="sidebar-nav-item" href="l">
            <i class="fa fa-archive"></i> {{ site.archives[page.lang] }}
        </a>
        
        <a class="sidebar-nav-item" href="{{ site.github.repo }}">
            <i class="fa fa-github"></i> {{ site.source_code[page.lang] }}
        </a>
        
        <span class="sidebar-nav-item">Last Update: {{ site.time | date: '%D' }}</span>
    </nav>

    <div class="sidebar-item">
        <p>{{ site.src_info[page.lang] }}</p>

        <p class="copyright">
            &copy;2015-{{ site.time | date: '%Y' }}. All rights reserved.
        </p>
    </div>
</div>
