---
import { ALL_BLOG_POST_TAGS } from "@content/blog";
import Layout from "@layouts/PageLayout.astro";
import { translations } from "@i18n/translations";
import { type Language, languages } from "@i18n/i18n";

import BlogArchive from "@components/BlogArchive.astro";

interface Params {
  params: {
    lang: Language;
    tag: string;
  };
}

export function getStaticPaths(): Params[] {
  return ALL_BLOG_POST_TAGS.flatMap((tag) => languages.map((lang) => ({ params: { lang, tag } })));
}

const { lang, tag } = Astro.params;

const title = translations[lang].stuffIWroteAbout(tag);
---

<Layout title={title} description={translations[lang].descriptions.BlogArchivePage}>
  <h1>{title}</h1>
  <BlogArchive tag={tag} />
</Layout>
