.grid {
    composes: container from "../../style/layout.css";

    padding: 0 1.0875rem;
    display: flex;
    flex-wrap: wrap;
}

.main {
    background-color: white;
    padding: 1rem;
    width: calc(100% - 250px);
}

.about {
    width: 250px;
}

@media only screen and (max-width: 767px) {
    .grid {
        padding: 0;
    }

    .main {
        padding-top: 60px;
        width: 100%;
        min-height: 100vh;
    }

    .about {
        width: 100%;
    }
}
