.tag {
    display: inline-block;
    line-height: 1;

    margin: 0.5em 0.5em 0.8em 0;
}

.tagName {
    padding: .4em .6em;

    text-transform: none;
    font-weight: 700;

    border-radius: .28571429rem;
}


.tags {
    margin-left: 0;
    margin-bottom: 0;

    font-size: 12px;
}
