.panel {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px 0;
}

.panel:last-child {
    border-bottom: 0px;
    padding-bottom: 0;
}

.image {
    display: block;
    width: 100%;
    max-width: 300px;
}

.content {
    padding: 10px 0;
    margin-right: 10px;
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    max-width: calc(90% - 300px);
}

.title {
    display: flex;
}

.title > .name {
    display: inline;
    margin-top: -5px;
    margin-right: 5px;
}

.title > .name > .year {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
}

.description {
    flex-grow: 100;
}

.links {
    margin-bottom: 0rem;
}
