@import "../../style/breakpoints.css";

.panel {
    width: 31%;
    border: 5px solid #dddddd;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 2% 25px 0;
    position: relative;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.28);
    border-radius: 10px;
}


.image {
    height: 218px;
    display: block;
    margin: 0 auto 5px auto;
}

.content {
    padding: 10px;
}

.title {
    padding: 0 0 10px 0;
    display: flex;
}

.title > .name {
    display: inline;
    margin-top: -5px;
    margin-right: 5px;
}

.title > .year {
    vertical-align: middle;
    font-size: 16px;
}

.link {
    color: rgba(0,0,0,0.5);
    margin-right: 5px;
}

.link:hover {
    color: rgba(0,0,0,0.78);
}

@media (--small-mobile) {
    .panel {
        width: 100%;
    }
}

@media (--tablet-portrait), (--large-mobile) {
    .panel {
        width: 48%;
    }
}
