.excerpt {
    margin: 0.5rem 0;
}

.header {
    font-size: 24px;
    margin-bottom: 0.12rem;
}

.post {
    border: 1px solid #ddd;
    background-color: white;
    margin: 8px 0;
    padding: 1rem 16px;
    color: #000000;
    display: block;
}

.post h3 a {
    color: #000000;
}

.post h3 a:hover {
    color: #00aaff;
}

.date {
    font-size: 18px;
    opacity: 0.60;
    margin-bottom: 5px;
}

.readmore {
    background-color: #fff;
    border: 1px #000000 solid;
    border-radius: 10px;
    color: #363636;
    cursor: pointer;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
}
