/*
  CSS Reset. See
  - https://piccalil.li/blog/a-more-modern-css-reset/
  - https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: var(--bg-color);
  background-image: url(/background.png);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-size: 16px;
  font-family: "PT Sans", "Noto Sans SC Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif", "Noto Sans SC Variable", serif;
}

.dark body {
  background-image: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

p + p {
  margin: 0.75em 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--highlight-color);
}

main {
  padding: 20px var(--content-padding);
  flex-grow: 1;
  background-color: var(--content-bg-color);
}

main h2 {
  font-size: 1.5em;
  padding: 24px 0 12px;
  font-weight: 400;
  margin: 0;
}

main h3 {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 24px 0 12px;
  margin: 0;
}

main ul,
main ol {
  margin-left: 1.666rem;
  list-style-type: disc;
}

main li {
  margin-bottom: 0.5rem;
}

/* global variables */
:root {
  /* max width of a page */
  --container-width: 1088px;
  /* max width of blog post main (content without sidenote) */
  --blog-content-width: 850px;

  --content-padding: 20px;
}

@media only screen and (min-width: 769px) {
  :root {
    --content-padding: 30px;
  }
}

/* theme: default is light theme */
:root {
  --text-color: #000;
  --secondary-color: #797979;
  --bg-color: #f4f2ea;
  --header-bg-color: #fafaf8;
  --content-bg-color: #fff;
  --sidenote-bg-color: #fbfaf7;
  --image-placeholder-bg-color: #f4f4f4;
  --highlight-color: #0af;
  --divider-color: rgba(0, 0, 0, 0.1);

  --bg-muted: rgba(129, 139, 152, 0.12);
  --border-color: #999;

  --link-color: #4183c4;

  --tag-color: #2dabf9;
  --tag-highlight-color: rgb(6, 136, 250);

  --blog-list-meta-color: rgba(0, 0, 0, 0.8);

  --aside-text-color: #868279;
  --aside-sm-bg-color: #faf8f5;
  --aside-sm-border-color: #f7f4ed;
  --aside-sm-border-bottom-color: #f0e9db;
  --aside-lg-border-color: #f0e9db;
}

.dark {
  --text-color: #e8e8e8;
  --secondary-color: #b3b3b3;
  --bg-color: #0b0b0b;
  --header-bg-color: #0b0b0b;
  --content-bg-color: #2a2a2a;
  --sidenote-bg-color: #1c1c1c;
  --image-placeholder-bg-color: #4a4a4a;
  --highlight-color: #0cc;
  --divider-color: #424246;

  --bg-muted-color: rgba(129, 139, 152, 0.2);

  --border-color: #999;

  --link-color: #0aa;
  --tag-color: #066;
  --tag-highlight-color: #0cc;

  --blog-list-meta-color: rgb(232, 232, 232, 0.7);

  --aside-text-color: #d7d5d0;
  --aside-sm-bg-color: #444;
  --aside-sm-border-color: #666;
  --aside-sm-border-bottom-color: #444;
  --aside-lg-border-color: #615f58;
}

/* lower image brightness in dark mode */
.dark img {
  filter: brightness(0.9) contrast(1.1);
}

/* inline code */
:not(pre) > code {
  margin: 0 0.1em;
  padding: 0.1em;
  border-radius: 0.3em;
  background-color: var(--bg-muted-color);
  box-shadow: 0 0 0 1px var(--border-color);
  font-family: "PT Mono", monospace;
  font-size: 0.9em;
}

/* syntax highlighting */
.astro-code {
  border-radius: 3px;
  border: 1px var(--border-color) solid;
  padding: 10px;

  font-family: "PT Mono", monospace;
  font-size: 0.9em;
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

/* math */
mjx-container[jax="SVG"] {
  display: inline-block;
  vertical-align: middle;
}

/* heading anchor */
.anchor {
  position: absolute;
  width: 30px;
  margin-left: -20px;
  height: 30px;

  float: left;
  display: flex;
  flex-direction: column;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@media only screen and (min-width: 769px) {
  .anchor {
    margin-left: -25px;
  }
}

.anchor > span {
  margin: auto 0;
  display: block;
  width: 18px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='18' aria-hidden='true'%3E%3Cpath fill='%23000' d='m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z'%3E%3C/path%3E%3C/svg%3E");
}

:hover > .anchor {
  visibility: visible;
  opacity: 1;
}
