/*
  CSS Reset. See
  - https://piccalil.li/blog/a-more-modern-css-reset/
  - https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* more opinionated resets */
html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

body {
  background-color: var(--bg-color);
  background-image: url(/bg.png);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark body {
  background-image: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

p+p {
  margin: 0.75em 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--highlight-color);
}


main {
  padding: 1rem;
  flex-grow: 1;
  background-color: var(--content-bg-color);
}

main h2 {
  font-size: 1.5em;
  padding: 24px 0 12px;
  font-weight: 400;
  margin: 0;
}

main h3 {
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 24px 0 12px;
  margin: 0;
}

main ul,
main ol {
  margin-left: 1.666rem;
  list-style-type: disc;
}

main li {
  margin-bottom: 0.5rem;
}

/* global variables */
:root {
  /* max width of a page */
  --container-width: 1088px;
  /* max width of blog post main (content without sidenote) */
  --blog-content-width: 800px;
}

/* theme: default is light theme */
:root {
  --text-color: #000;
  --secondary-color: #797979;
  --bg-color: #f4f2ea;
  --header-bg-color: #fff;
  --content-bg-color: #fff;
  --sidenote-bg-color: #fbfaf7;
  --highlight-color: #0af;
  --divider-color: rgba(0, 0, 0, 0.1);

  --link-color: #4183c4;
  --tag-color: #2dabf9;

  --aside-text-color: #868279;
  --aside-sm-bg-color: #faf8f5;
  --aside-sm-border-color: #f7f4ed;
  --aside-sm-border-bottom-color: #f0e9db;
  --aside-lg-border-color: #f0e9db;
}

.dark {
  --text-color: #e8e8e8;
  --secondary-color: #b3b3b3;
  --bg-color: #0b0b0b;
  --header-bg-color: #0b0b0b;
  --content-bg-color: #2a2a2a;
  --sidenote-bg-color: #1c1c1c;
  --highlight-color: #0cc;
  --divider-color: #424246;

  --link-color: #0aa;
  --tag-color: #066;

  --aside-text-color: #d7d5d0;
  --aside-sm-bg-color: #444;
  --aside-sm-border-color: #666;
  --aside-sm-border-bottom-color: #444;
  --aside-lg-border-color: #615f58;

}

/* lower image brightness in dark mode */
.dark img {
  filter: brightness(.9) contrast(1.1);
}