/*
  CSS Reset. See
  - https://piccalil.li/blog/a-more-modern-css-reset/
  - https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* more opinionated resets */
html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 18px;
  }
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul, ol {
  list-style: none;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

p+p {
  margin: 0.75em 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--highlight-color);
}

/* global variables */
:root {
  --max-width: 1200px;
  --content-width: 950px;
}

/* theme: default is light theme */
:root {
  --text-color: #000;
  --bg-color: #fbfaf7;
  --header-bg-color: #fff;
  --content-bg-color: #fff;
  --highlight-color: #0af;
  --divider-color: rgba(0, 0, 0, 0.1);

  --link-color: #4183c4;
}

.dark {
  --text-color: #e8e8e8;
  --bg-color: #0b0b0b;
  --header-bg-color: #0b0b0b;
  --content-bg-color: #1c1c1c;
  --highlight-color: #0cc;
  --divider-color: #424246;

  --link-color: #0aa;
}

/* lower image brightness in dark mode */
.dark img {
  filter: brightness(.9) contrast(1.1);
}