---
import PageLayout from "@layouts/PageLayout.astro";

import { Image } from "astro:assets";
import portraitImage from "@assets/portrait.jpg";
---

<PageLayout title="About">
  <h1>About Me</h1>
  <Image class="portrait" src={portraitImage} alt="A portrait of Lesley Lai" width={200} />
  <article>
    <p>
      Hi, I am Lesley Lai. My primary interests include Computer Graphics and Programming Languages.
    </p>
    <p>
      I'm tech stack agnostic, appreciating and working with various programming languages and APIs.
      My favorite languages are C, C++, Rust, JS/TS, and OCaml.
    </p>
    <p>
      I founded <a href="https://www.meetup.com/graphics-programming-virtual-meetup/"
        >Graphics Programming Virtual Meetup</a
      > in 2020, and we continue to hold weekly meetings. In extra, I also help organize
      <a href="https://www.includecpp.org/">{"#include <C++>"}</a>.
    </p>
    <p>
      Beyond math and programming, I'm a (very) amateur pianist and enjoy participating in
      triathlons.
    </p>
  </article>
</PageLayout>

<style>
  .portrait {
    float: right;
    margin-left: 1rem;
    border-radius: 0.25rem;
    box-shadow:
      0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
</style>
