.excerpt {
    margin: 0.5rem 0;
}

.header {
    font-size: 26px;
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.post {
    border-color: #ddd;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    background-color: white;
    margin: 8px 0;
    padding: 1rem 0;
    color: #000000;
    display: block;
}

.post h3 a {
    color: #000000;
}

.post h3 a:hover {
    color: #00aaff;
}

.postMeta {
    display: flex;
    margin-bottom: 0.6875em;
}

@media only screen and (max-width: 767px) {
    .postMeta {
        flex-direction: column;
    }
}

.icon {
    margin-right: 5px;
}

.date {
    font-size: 16px;
    opacity: 0.60;
    margin-bottom: 5px;
    margin-right: 1em;
}

.date .icon {
    margin-top: -4px;
}

.tags {
    display: flex;
}

.tags .icon {
    margin-top: 6px;
    opacity: 0.60;
}

.readmore {
    background-color: #fff;
    border: 1px #000000 solid;
    border-radius: 10px;
    color: #363636;
    cursor: pointer;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
}
