.grid {
    composes: container from "../../style/layout.css";

    padding: 0 1.0875rem;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 499px) {
    .layout {
        margin-top: 53px;
    }
}

.main {
    background-color: white;
    padding: 1rem;
    width: calc(100% - 250px);
}

.about {
    width: 250px;
}

@media only screen and (max-width: 499px) {
    .main {
        min-height: calc(100vh - 53px);
    }
}

@media only screen and (max-width: 767px) {
    .grid {
        padding: 0;
    }

    .main {
        width: 100%;
    }

    .about {
        width: 100%;
    }
}
