.about {
    min-width: 200px;
    font-size: 13px;
    color: #704303;
    padding: 1rem;
}

.about a {
    color: #a15e00;
}

.about a:hover {
    color: #e18e18;
}

/* Mobile */
@media only screen and (max-width: 499px) {
    .about {
        width: 100%;
        text-align: center;
    }
}

.about ul li {
    margin-bottom: 0;
}

.archive {
    margin: 10px 10px;
    font-style: italic;
    margin: 0.2rem 0 0.2rem 1.666rem;
}

.portrait {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    max-height: 250px;
    border: solid 8px white;
    border-radius: 4px;
}

.copyright {
    text-align: center;
    margin: 10px 10px;
    font-size: 12px;
    font-style: italic;
    color: #7c6545;
}

.info {
    margin-bottom: 0.5rem;
}

.subtitle {
    font-size: 13px;
    font-weight: normal;
    margin: 24px 0 4px 0;
    color: #655e54;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tags {
    margin-bottom: 0rem;
    line-height: 1.3;
}

.tagitem {
    margin: 3px 0;
}

.postcount {
    background: #f2ede8;
    margin-left: 6px;
    padding: 0 3px;
    border-radius: 4px;
    color: #826842;
}
