.about {
    min-width: 200px;
    font-size: 14px;
    color: #8f6d3d;
    padding: 1rem;
}

.about a {
    color: #c38022;
}

.about a:hover {
    color: #f0bd75;
}

/* Mobile */
@media only screen and (max-width: 499px) {
    .about {
        width: 100%;
        text-align: center;
    }
}

.about ul li {
    margin-bottom: 0;
}

#portrait {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border: solid 8px white;
    border-radius: 4px;
}

.copyright {
    text-align: center;
    margin: 10px 10px;
    font-size: 12px;
    font-style: italic;
}

.subtitle {
    font: normal 13px "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 24px 0 4px 0;
    color: #8E8D8A;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tagitem {
    margin: 3px 0;
}

.postcount {
    background: #f2ede8;
    margin-left: 4px;
    padding: 0 3px;
    border-radius: 4px;
    color: #bda88a;
}
