.socials {
    text-align: center;
    padding: 8px 0 16px 0;
}

.icon {
    color: #ffffff;
    background-color: #bdbdbd;
    border-radius: 6px;
    margin: 0 0.3rem;
}

.icon:hover {
    background-color: #00aaff;;
}
