---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

import Layout from "../layouts/BaseLayout.astro";
import type { Language } from "../i18n/i18n";
import { isLanguage } from "../i18n/i18n";

export const langFromSlug = (slug: CollectionEntry<"blog">["slug"]): Language => {
  let lang = slug.split("/")[0];
  if (!isLanguage(lang)) {
    throw new Error(`Unknown language contained in slug ${slug}`);
  }

  return lang;
};
---

<Layout title={entry.data.title} lang={langFromSlug(entry.slug)}>
  <h1>{entry.data.title}</h1>
  <main>
    <Content />
  </main>
</Layout>
