---
import PageLayout from "../layouts/PageLayout.astro";

import LatestPosts from "../components/LatestPosts.astro";
---

<PageLayout lang="en" title="">
  <h1>Home</h1>
  <article>
    <p>
      Welcome to Lesley Lai's personal website! I like to write various topics such as math,
      programming, computer graphics, programming languages, and compilers.
    </p>
    <p>This site contains a blog, portfolio, and also my notes.</p>
  </article>
  <h2>Latest Posts</h2>
  <LatestPosts lang="en" />
</PageLayout>
