.header {
    background: #1b1c1d;
}

/* Stick header on mobile */
@media (max-width: 767px){
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.header-container {
    composes: container from "../../style/layout.css";
    padding: 0.3rem 1.0875rem;
    display: flex;
}

.logo {
    color: white;
    margin: auto 15px auto 0;
    white-space: nowrap;
    text-decoration: none;
}

.logo h2 {
    font-size: 2em;
    margin-bottom: 0.2rem;
}

@media (max-width: 500px) {
    .logo h2 {
        font-size: 1.6em;
    }
}

.logo:hover {
    color: white;
}

.menu {
    display: flex;
}

.menuItem {
    flex: 0 0 auto;
    vertical-align: middle;
    text-decoration: none;
    color: hsla(0,0%,100%,.7);

    padding: .85714286em 1.14285714em;
}

.menuItem:hover {
    color: #fff;
}

.menuItem.active {
    color: #fff;
    font-weight: 700;

    border-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 0;
}
