/* Fix double scroolbar problem */
html {
    overflow-x: hidden;
}

body {
    overflow-x: visible;
    background: #f8f5f1;
    font-size: 16px;
}


/*******************************
             Headers
*******************************/
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.28571429em;
    font-weight: bold;
    padding: 0em;
}

h1 {
    min-height: 1rem;
    font-size: 2rem;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.71428571rem;
}

h3 {
    font-size: 1.28571429rem;
}

h4 {
    font-size: 1.07142857rem;
}

h5 {
    font-size: 1rem;
}

h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
    margin-bottom: 0em;
}


/*******************************
             Links
*******************************/
a {
    color: #4183c4;
}

a:hover {
    color: #00aaff;
    text-decoration: none;
}

a, a:hover {
    text-decoration: none;
}

/*******************************
             Footnote
*******************************/
.footnotes {
    margin: 1em 0 0 0;
    border-top: 1px solid silver;
    padding: 0;
    font-size: 0.9em;
}

.footnotes > ol {
    margin-left: 1.666rem;
    margin-bottom: 0;
}

.footnotes > ol > li {
    margin-bottom: 5px;
}

.footnotes > ol > li > p {
    display: inline-block;
    margin-bottom: 0;
}

.footnote-ref, .footnote-backref {
    position: relative;
    font-weight: bold;
    color: #777;
    background-color: #e3e3e3;
}

.footnote-ref {
    top: 0;
    left: 0;
    border-radius: 50%;
    padding: 0.2em 0.5em 0.2em;
}

.footnote-backref {
    font-size: 0.8em;
    border-radius: 0.4em;
    padding: 0.2em 0.4em 0;
    border: none;
}

.footnote-ref:hover, .footnote-backref:hover {
    color:#fff;
    background-color: #8f6d3d;
}

/*******************************
        Images in posts
*******************************/
.right-image-container {
    position: sticky;
    float: right;
    padding: 10px;
    width: 300px;
}

@media (max-width: 767px) {
    .right-image-container {
        width: 100%;
    }

    .gatsby-resp-image-link {
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
