---
import ThemeToggle from "./ThemeToggle.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<header>
  <div class="container">
    <nav aria-label="Main menu">
      <div class="home">
        <a href="/" data-astro-prefetch="load">Lesley Lai <span lang="zh">赖思理</span></a>
      </div>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Talks</a></li>
        <li><a href=`/${lang}/about` data-astro-prefetch="load">About</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <ThemeToggle />
      <div>English</div>
    </div>
  </div>
</header>

<style>
  header {
    border-bottom: 1px solid var(--divider-color);
  }

  .container {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .home {
    font-size: 2em;
    margin-right: 1.5rem;
  }

  .home > a {
    color: var(--text-color);
    font-weight: bold;
  }

  ul {
    display: flex;
    margin: auto;
  }

  ul > li > a {
    transition: color 0.35s;
    padding: 0.5rem 1rem;
    color: var(--text-color);
  }

  ul > li > a:hover {
    color: var(--highlight-color);
  }

  .header-right {
    display: flex;
  }

  .header-right > div {
    margin: auto 5px;
  }
</style>
