---
import ThemeToggle from "./ThemeToggle.astro";
import HeaderLink from "./HeaderLink.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<header>
  <div class="container">
    <nav aria-label="Main menu">
      <div class="home">
        <a href="/" data-astro-prefetch="load"
          ><span class="english-name">Lesley Lai</span> <span lang="zh">赖思理</span></a
        >
      </div>
      <ul>
        <li><HeaderLink href="#">Blog</HeaderLink></li>
        <li><HeaderLink href="#">Projects</HeaderLink></li>
        <li><HeaderLink href="#">Notes</HeaderLink></li>
        <li><HeaderLink href="#">Talks</HeaderLink></li>
        <li>
          <HeaderLink href=`/${lang}/about`>About</HeaderLink>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <ThemeToggle />
      <div>English</div>
    </div>
  </div>
</header>

<style>
  header {
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--divider-color);
  }

  .container {
    max-width: var(--max-width);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }

  .home {
    font-size: 1.6em;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-right: 1.5rem;
  }

  .home > a {
    color: var(--text-color);
  }

  .home .english-name {
    font-weight: bold;
  }

  ul {
    display: flex;
    margin: auto;
  }

  .header-right {
    display: flex;
  }

  .header-right > div {
    margin: auto 5px;
  }
</style>
