---
import { Icon } from "astro-icon/components";
import type { Language } from "@i18n/i18n";
import { translations } from "@i18n/translations";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: Language;
}

const { lang } = Astro.props;

const current_path = Astro.url.pathname;

// strip language
const slug = current_path.replace(`\/${lang}`, "");

const otherLang = translations[lang].oppositeLang;

let otherLangUrl = getRelativeLocaleUrl(otherLang, slug);
if (otherLangUrl == "/en" || otherLangUrl == "/en/") {
  otherLangUrl = "/";
}
---

<a class="lang-toggle" rel="alternate" hreflang={otherLang} href={otherLangUrl}>
  <Icon name="mdi:translate" size={16} class="lang-toggle-icon" title="Translations" />
  <span>{translations[otherLang].langName}</span>
</a>

<style>
  .lang-toggle {
    display: flex;
    height: fit-content;
    margin: auto 0;
    transition: color 0.2s;
    color: var(--text-color);
  }

  .lang-toggle::before {
    margin-right: 8px;
    margin-left: 8px;
    width: 1px;
    height: 24px;
    background-color: var(--divider-color);
    content: "";
  }

  .lang-toggle:hover {
    color: var(--highlight-color);
  }

  [data-icon="mdi:translate"] {
    margin: auto 0.25em auto 0;
  }

  .lang-toggle ::global(span) {
    font-size: 0.8em;
    margin: auto 0;
  }
</style>
