---
// Latest posts shown on the home page

import { getCurrentLanguage, transformSlug } from "@i18n/i18n";

import { BLOG_POSTS, sortByDate } from "@content/blog";

const lang = getCurrentLanguage(Astro);

const posts = BLOG_POSTS.byLang(lang).filter((post) => !post.untranslated);
sortByDate(posts);
const mostRencentPosts = posts.slice(0, 5);

const options: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
const formatDate = (date: Date) => date.toLocaleDateString(lang, options);
---

<table>
  <tbody>
    {
      mostRencentPosts.map((post) => (
        <tr>
          <th scope="row">{formatDate(post.data.created)}</th>
          <td>
            <a href={`/${transformSlug(post.slug)}`} data-astro-prefetch>
              {post.data.title}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
 table {
     width: 100%;
 }

 th {
     width: 15%;
     min-width: 130px;
 }

 td {
     font-family: 'PT Serif', 'Noto Sans SC Variable', serif;
 }
</style>
