---
// Latest posts shown on the home page

import { getCollection } from "astro:content";

import { getCurrentLanguage } from "@i18n/i18n";

const lang = getCurrentLanguage(Astro);

const blogPosts = await getCollection("blog");
const blogPostsThisLang = blogPosts.filter((post) => post.slug.startsWith(lang));
blogPostsThisLang.sort((lhs, rhs) => rhs.data.created.getTime() - lhs.data.created.getTime());

const mostRencentPosts = blogPostsThisLang.slice(0, 3);

const options: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "short",
  day: "numeric",
};
const formatDate = (date: Date) => date.toLocaleDateString(lang, options);
---

<table>
  <tbody>
    {
      mostRencentPosts.map((post) => (
        <tr>
          <th scope="row">{formatDate(post.data.created)}</th>
          <td>
            <a href={`/${post.slug}`} data-astro-prefetch>
              {post.data.title}
            </a>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  table {
    width: 100%;
  }

  th {
    width: 15%;
    min-width: 130px;
  }
</style>
