---
interface Props {
  children: unknown;
}
---

<main>
  <slot />
</main>

<style>
  main {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    background-color: var(--content-bg-color);

    flex-grow: 1;
  }

  main :global(h2) {
    font-size: 1.5em;
    padding: 24px 0 12px;
    font-weight: 400;
    margin: 0;
  }

  main :global(h3) {
    font-style: italic;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
    padding: 24px 0 12px;
    margin: 0;
  }

  main :global(ul),
  main :global(ol) {
    margin-left: 1.666rem;
    list-style-type: disc;
  }

  main :global(li) {
    margin-bottom: 0.5rem;
  }
</style>
