---
// A tag button
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
  a {
    padding: 0.4em 0.4em;
    font-weight: 800;
    font-size: 12px;
    border-radius: 0.285714rem;

    color: #fff;
    background-color: var(--tag-color);
  }

  a:hover {
    background-color: var(--tag-highlight-color);
  }
</style>
