.date {
    margin-right: 0.5rem;
}

.year {
    padding-bottom: 5px;
    border-bottom: solid 1px #eee;
    margin-bottom: 0.5rem;
}

.entry {
    margin: 0.2rem;
    font-size: 18px;
}

.archiveTags {
    display: inline-block;
}
