.year {
    padding-bottom: 5px;
    border-bottom: solid 1px #eee;
    margin-bottom: 0.5rem;
}

.entry {
    margin: 0.2rem;
    font-size: 18px;
}

.entry > ul {
    margin-top: 0;
}

.archiveTags {
    display: inline-block;
    margin-left: 0.5rem;
}

.archiveTags > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
