---
import "@fontsource/pt-sans/400.css";
import "@fontsource/pt-sans/700.css";
import "@fontsource/pt-serif";
import "@fontsource/pt-mono";
import "@fontsource-variable/noto-sans-sc";

import "@styles/global.css";

import { getCurrentLanguage } from "@i18n/i18n";

import Head, { type Props as HeadProps } from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props extends HeadProps {
  children: unknown;
}

const lang = getCurrentLanguage(Astro);
---

<!doctype html>
<html lang={lang}>
  <Head {...Astro.props} />
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
