---
import "@fontsource/pt-sans";
import "@fontsource/pt-serif";
import "@fontsource-variable/noto-sans-sc";

import { getCurrentLanguage } from "@i18n/i18n";

import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  children: unknown;
}

const { title } = Astro.props;
const lang = getCurrentLanguage(Astro);

import Header from "@components/Header.astro";
import "@styles/global.css";
import { translations } from "@i18n/translations";

// Is home page if title is empty
const isHome = title == "";

const siteName = translations[lang].siteName;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Lesley Lai" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{isHome ? siteName : `${title} | ${siteName}`}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<ClientRouter />
