---
import "@styles/container.css";
import PageLayout from "./PageLayout.astro";
import { translations } from "@i18n/translations";
import { getCurrentLanguage } from "@i18n/i18n";
import { BLOG_POSTS } from "@content/blog";

const lang = getCurrentLanguage(Astro);

const title = translations[lang].blog;
---

<PageLayout title={title}>
  <h1>{title}</h1>
  <p>Visit <a href={`/${lang}/archive`}>archive</a> for all {BLOG_POSTS.size} posts</p>
</PageLayout>
