---
import "@styles/container.css";
import PageLayout from "./PageLayout.astro";
import { translations } from "@i18n/translations";
import { getCurrentLanguage } from "@i18n/i18n";
import Archive from "@components/BlogArchive.astro";

const lang = getCurrentLanguage(Astro);

const title = translations[lang].archive;
---

<PageLayout title={title} description={translations[lang].descriptions.BlogArchivePage}>
  <h1>{title}</h1>
  <Archive />
</PageLayout>

<style>
  .year {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: 0.5rem;
  }

  .title {
    font-family: "PT Serif", "Noto Sans SC Variable", serif;
  }

  .tags {
    display: inline-block;
  }
</style>
