.grid {
    margin: 0 auto !important;
    padding: 0.3rem 1.0875rem;
}

@media (max-width: 767px) {
    .layout {
        margin-top: 44px !important;
    }
}

.main {
    background-color: white;
}

@media (min-width: 768px) {
    .main {
        min-height: calc(100vh - 53px);
    }
}
