@import "../style/breakpoints.css";
@import "../style/layout.css";

.grid {
    composes: container;
    
    padding: 0 1.0875rem;
    
    display: flex;
}

@media (--small-mobile) {
    .layout {
        margin-top: 53px;
    }
}

.main {
    background-color: white;
    padding: 1rem;
    width: 75%;
}

@media (--small-mobile) {
    .main {
        min-height: calc(100vh - 53px);
    }
}

.about {
    width: 25%;
}
