---
// Layout for "normal" pages that are not blog posts or notes such as index or about

import BaseLayout from "./BaseLayout.astro";
import "@styles/container.css";

interface Props {
  title: string;
  children: unknown;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="container container-shadow">
    <main>
      <slot />
    </main>
  </div>
</BaseLayout>

<style>
  @media (min-width: 48em) {
    .container {
      font-size: 17px;
    }
  }
  @media (min-width: 64em) {
    .container {
      font-size: 18px;
    }
  }
  @media (min-width: 80em) {
    .container {
      font-size: 19px;
    }
  }
</style>
